.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background: rgba(0, 0, 0, 0.035);
  color: rgba(0, 0, 0, 0.38);
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #2f80ed;
  color: white;
}
.switch input:before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: scale(1.1);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.2s ease-in-out;
}

.switch input:checked {
  @apply: bg-indigo-400;
  background-color: #7f9cf5;
}

.switch input:checked:before {
  left: 1.25rem;
}
